<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Box</title>
</head>

<body>
    <h1>Chat Box</h1>
    <button id="startchat" data-roomid="<%= id %>" Start chat</button>
        <input type="text" placeholder="username..." id="username">
        <input type="text" placeholder="message..." id="newmsg">
        <button id="btn">Send</button>
        <ul id="msglist">
            <% for(let i=0; i < chats.length; i++) { %>
                <li>
                    <%= chats[i].user %> : <%= chats[i].content %>
                </li>
                <% } %>
        </ul>

        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();

            let startchat = document.getElementById('startchat');
            let btn = document.getElementById('btn');
            let inputMsg = document.getElementById('newmsg');
            let username = document.getElementById('username');
            let msgList = document.getElementById('msglist');


            socket.emit('join_room', {
                roomid: startchat.getAttribute('data-roomid')
            });


            btn.onclick = function exec() {
                socket.emit('msg_send', {
                    msg: inputMsg.value,
                    username: username.value,
                    roomid: startchat.getAttribute('data-roomid')
                })
            }

            socket.on('msg rcvd', (data) => {
                let limsg = document.createElement('li');
                limsg.innerText = `${data.username}: ${data.msg}`;
                msgList.appendChild(limsg);
            })
        </script>
</body>

</html>